html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.halloworld {
  width: 200px;
  height: 200px;
  background-color: orange;
  position: relative; /* to center the box*/
  margin: 0 auto;
  right: 5px;
  top: 7px;
}
